@{
    ViewData["Title"] = "AgregarProducto";
}

@model Models.PresupuestosDetalles

<form asp-controller="Presupuesto" asp-action="AgregarProducto">
  <div class="mb-3">
    <label asp-for=@Model.Producto.IdProducto class="form-label">ID Producto</label>
    <input asp-for=@Model.Producto.IdProducto type="number" class="form-control">
    <label asp-for=@Model.Cantidad class="form-label">Cantidad</label>
    <input asp-for=@Model.Cantidad type="number" class="form-control">
  </div>    
  <button type="submit" class="btn btn-outline-success">Crear</button>
</form>    
